
@{
    ViewBag.Title = "CheckCG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/FunctionCheckCG.js"></script>
<h2>Kiểm tra CPU và GPU</h2>

<div class="notifications-wrapper">
    <ul class="nav">
        <li class="dropdown">
            <ul class="list-group list-group-flush">
                <li><a href="@Url.Action("Check","Home")">Check PC</a></li>
                <li><a href="@Url.Action("CheckRM","Home")">Ram vs Mainboard</a></li>
                <li><a href="@Url.Action("CheckCM","Home")">CPU vs Mainboard</a></li>
                <li><a href="@Url.Action("CheckGM","Home")">GPU vs Mainboard</a></li>
                <li><a href="@Url.Action("CheckCG","Home")">CPU vs GPU</a></li>
            </ul>
        </li>
    </ul>
</div>


<p>CPU:</p>
<input list="lstcpu" id="cpu" onclick="Test(this)">
<datalist id="lstcpu"></datalist>

<p>GPU:</p>
<input list="lstgpu" id="gpu" onclick="Test(this)">
<datalist id="lstgpu"></datalist>
<hr />

<button onclick="CheckCG()">Check</button>

